<div [formGroup]="form" [ngSwitch]="field.type">

    <div *ngSwitchCase="'object'">
        <button type="button" (click)="onAddField()" mat-button>
            <mat-icon>add</mat-icon> Add Property
        </button>
    </div>
    <div *ngSwitchCase="'number'">
        number
    </div>
    <div *ngSwitchCase="'string'">
        string
    </div>
    <div *ngSwitchCase="'boolean'">
        boolean
    </div>
    <div *ngSwitchCase="'array'">
        array
    </div>
    <div *ngSwitchCase="'null'">
        null
    </div>
<!--     
    <mat-form-field class="full-width">
        <mat-label>{{field.name}}</mat-label>
        <input matInput />
    </mat-form-field> -->
    
</div>