<div class='monwrap' (click)='selectCombatant()'>
    <div class='monicon' [style.backgroundImage]='"url("+enemy.icon+")"'>
        <div [class.targe]='isSelected()'></div>
    </div>
    <div class='monblok'>
        <div class='montitle'>
            {{enemy.name}} <br> <span class="mlign"> AC{{enemy.armorClass}}</span>
        </div>
        <div class='mdetail' (click)='showdetail()'>
            <!-- <input type="button" (click)="attack()" value="Attack"> -->
        </div>
    </div>
    <div class='hptest'>{{enemy.hitPoints}} / {{enemy.maxHitPoints}}
        <div class='hpbar' [style.width]='((enemy.hitPoints/enemy.maxHitPoints)*100)+"%"'></div>
    </div>
</div>
<div class='enemycardwrap' [style.display]='detailswitch'>
    
    <div class='evatar'><img [attr.src]='enemy.bio.avatar' style='max-height: 100%;'></div>
    <div class='ecard'>

        <div class='mdetail2' (click)='showdetail()' style='position:absolute; right:0px; background-color: white;'> Hide
            <!-- <input type="button" (click)="attack()" value="Attack"> -->
        </div>


        <div class='montitle'>
            {{enemy.name}} <br> <span class="mlign">Armor Class {{enemy.armorClass}} </span>
        </div>

        <div class='mlign'> HP {{enemy.hitPoints}} / {{enemy.maxHitPoints}} </div>
        <div class='hptest2'>
            <div class='hpbar' [style.width]='((enemy.hitPoints/enemy.maxHitPoints)*100)+"%"'></div>
        </div>
        <div *ngFor='let ab of enemy.abilities| keyvalue'><div class='abox'>{{ab.key}}<br>{{ab.value}}</div></div>
        
        <div style='clear:both; color:white; font-size: x-small;' >Saves<br>
            <div *ngFor='let sa of enemy.safethrowbonus | keyvalue'>
                <div class='abox' style='color:white'>{{sa.key}} {{sa.value}}</div>
            </div>
        </div>

        <div class='eactionbox'><div class='actitle'>Actions</div>
            <div class='eachaction'*ngFor='let act of enemy.actions;index as i'>
                <div class='eachaction'(click)='tes["o"+i]=!tes["o"+i]'>{{act.name}}</div> 
                <div class='actiontip' *ngIf='tes["o"+i]'>
                    {{act.description}}
                    <div>
                    <button class='useact' (click)='attack(act)' *ngIf=act.attackBonus>Use</button>
                    </div>
                </div>


            </div>
        </div>
        
    </div>
</div>