<div *ngIf="control">
    <mat-card class="data-card">
        <mat-card-header>
            <mat-card-subtitle>{{ controlName }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div *ngIf="formGroup">
                <div [formGroup]="formGroup">
                    <div *ngFor="let control of iterate(formGroup)">
                        <div *ngIf="control.isFormGroup; then thenBlock else elseBlock"></div>
                        <ng-template #thenBlock>
                            <app-flexible-form [control]="control.control" [controlName]="control.name"></app-flexible-form>
                        </ng-template>
                        <ng-template #elseBlock>
                            <mat-form-field>
                                <mat-label>{{ control.name }}</mat-label>
                                <input matInput formControlName="{{control.name}}">
                            </mat-form-field>
                        </ng-template>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>

</div>