.charwrap{
    border: solid red;
    width:600px;
    font-family: 'Exo 2', sans-serif;
    float:left;

}
.vatar{
    border: solid orange;
    height: 350px;
    width:350px;
    float:left;
}
.profile{
    border: solid gray;
    border-top-left-radius: 90px;
    border-width: 10px;
    background-color: gray;
    float: left;
    height:150px;
    width:150px;
}
.charname{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: gray;
    font-size: x-large;
    padding: 15px;
    float:left;
}
.charlevels{
    font-size: small;
    color: gainsboro;
    
}
.statz{
    font-size: small;
    padding:2px;
    float:left;
    border-radius:4px;
}
.resourcebox{
    font-size: smaller;
    background-color: gray;
    padding: 7px;
}
.wname{font-size: larger;
    width:125px;
}
.wdmg{
    color:gainsboro;
    background-color: cadetblue;
    border-radius: 4px;
    padding: 2px

}
.claslev{color: white}
.itabwrap{border:blue}
.weapon{border:navy}
.press{
    background-color:firebrick;
    color:blanchedalmond;
    font-size: medium;
    padding: 5px;
    float:left;
    border-radius: 8px;
}
