
<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Exo+2&display=swap" rel="stylesheet">
</head>
<div class="charwrap">
    <div class="profile" style='background-image: url("assets/images/bil.svg"); background-size: 190px;'>
          
    </div>
    <div class="charname">
        {{charb.name}}<br>
    <span class="charlevels">
           Lv {{claszt}}  <span *ngFor='let cro of charb.classes'class="claslev">{{cro[0]}} Lv{{cro[1]}} </span></span>
           <div class='resourcebox'>
            <div class='resoname' *ngFor='let rez of charb.resource'>{{rez[0]}} {{rez[2]}}/{{rez[1]}} <br>
                <div style='width: 150px; height: 10px; border: solid navy'>
                    <div [style.width]="(+rez[2]/(+rez[1]))*100+'%'" style='background-color: cadetblue;height:100%'id='hpcent'></div>
    
                    
                </div>
    
            </div>
    
        </div>
        </div>
   
    <div class="itabwrap" style="clear:both;">
        <div *ngFor='let number of charb.weapon' class="weapon">
            <span class=wname>{{number.name}}</span> <span class=wdmg>{{number.dmg1}} {{number.dmgtype}}</span></div>
        

    </div>

</div>
<div></div>