.mwrap{
   /* position:absolute;*/
    width: 100%;
    height: 100%;
   /* border: solid khaki;
    top:60px;
    transition: width 1s, height 1s;*/
    

}

.acmap{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    overflow: scroll;
    width:100%;
    height:100%;

}
.zbut,.zbutm{
    font-size: 30px;
    height:5%;
    width:1%;
    position:absolute;
    left:2%;
    top:1%;
    background-color:lavenderblush;
    height:6%;
    width: 3%;
    text-align: center;
    /*line-height: 100%;*/
    padding:4px

}
.zbutm{
    top:14%;
}
.sbo{
    position:absolute;
    top:0px;
    transition: transform 1s,
}

.enemy{
    position:absolute
    
}