<div class="throwbox" [style.opacity]>

    <div class='x' [style.transform]='dcwid'[style.top]='dcfall'
    [style.opacity]='xo'><div class='dc' 
        [style.opacity]='dcena'
        [style.fontSize]="dcsizer"
        
        >{{nowdc}}
    </div></div>
    <div class='roll'
        [style.top]='rotop'
        [style.opacity]='rocena'
        [style.transform]='rollin'
        [style.right]='elbow'
        [style.fontSize]='rosize'
        >{{nowroll}}
    </div>
    <div class='rezult'
        [style.opacity]='rcena'
        [style.right]='badtest'
        [style.transform]='kurt'

        >{{nowtest}}
    </div>




</div>
