<div id="form-container" *ngIf="form">
    <button mat-button (click)="deleteCharacter()" [disabled]="!canDeleteCharacter">Delete</button>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div id="field-container">
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput formControlName="name">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Description</mat-label>
                <input matInput formControlName="description">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Archetype</mat-label>
                <mat-select formControlName="archetypeId" name="archetypeId" (selectionChange)="onArchetypeChange($event.value)">
                    <mat-option *ngFor="let arch of archetypes | async" [value]="arch.id">
                      {{arch.name}}
                    </mat-option>
                  </mat-select>
            </mat-form-field>
            <app-flexible-form [schemaPropertyFormGroup]="form" [schemaPropertyControl]="data"></app-flexible-form>
            <button mat-button type="submit">Submit</button>
        </div>
    </form>
</div>