.units,.units2{
    height: 40px;
    width: 40px;
    border-radius: 30px;
    border: solid lightsteelblue;
    border-width: 3px;
    color:white;
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 4px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    transition: left .5s, height .5s, width .5s, transform .5s;
    transform-origin: center;

}

.units2{
    transform: scale(1.5,1.5);
    float:left;
    position: relative;
    left: 45px;
    top: 1px;
    margin:4px;
    z-index: 2;
    
    
}

.carouwrap{
    height: 60px;
    width: 230px;
    overflow:hidden;
    position: absolute;
}

.endarrow{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    height: 62px;
    width: 80px;
    margin: 15px;
    color:cornflowerblue;
    float:left;
}

.neme{
    transition: left .8s;
    position: relative;
    white-space: nowrap;
    text-shadow: 
    -1px 1px 1px #000,
    1px 1px 1px #000,
    1px -1px 0 #000,
    -1px -1px 0 #000;
    font-size: 16px;
    line-height: 12px;
    animation: piz .4s;


}
@keyframes piz{
    0%{left:500px}
    95%{left:-8px}
    100%{left:0px}

}