<div>
    <form (ngSubmit)="onSubmit()" [formGroup]="form">

        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput cdkFocusInitial formControlName="name" />
        </mat-form-field>

        <mat-form-field>
            <mat-label>Description</mat-label>
            <input matInput cdkFocusInitial formControlName="description" />
        </mat-form-field>

        <div formArrayName='schemaFields'>
            <button type="button" (click)="addSchemaField()" mat-button>
                <mat-icon>add</mat-icon> Add Property
            </button>

            <div *ngFor="let schemaField of schemaFields.controls; let i=index">
                <mat-form-field>
                    <mat-label>Property</mat-label>
                    <input matInput formControlName="{{i}}" />
                </mat-form-field>
            </div>
        </div>

        <div mat-dialog-actions>
            <button mat-button (click)="onSave()">OK</button>
            <button mat-button (click)="onCancel()">Cancel</button>
            <button *ngIf="data.enableDelete" mat-fab color="primary" aria-label="Delete" (click)="onDelete()">
                <mat-icon>delete</mat-icon>
            </button>
        </div>


    </form>
</div>
<!-- 
<mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput cdkFocusInitial [(ngModel)]="data.archetype.name" />
</mat-form-field>

<mat-form-field>
    <mat-label>Description</mat-label>
    <textarea matInput [(ngModel)]="data.archetype.description"></textarea>
</mat-form-field>

<mat-form-field *ngFor="let key in data">

</mat-form-field>

<div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="{ archetype: data.archetype }">OK</button>
    <button mat-button (click)="cancel()">Cancel</button>
    <button *ngIf="data.enableDelete" mat-fab color="primary" aria-label="Delete" [mat-dialog-close]="{ archetype: data.archetype, delete: true }">
        <mat-icon>delete</mat-icon>
    </button>
</div> -->