#rboxk {
    background-color:gainsboro;
    width: 200px;
    height: 90px;
    border: 3px solid gray;
    border-radius: 15px;
    padding: 5px;
    float:left;
    position:relative
}
#roll{
    font-size: large;
    border-radius: 10px;
    position:absolute;
    top:90px;
    left: 83px;
    padding:3px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: gainsboro;
    color:gray;
    z-index: 3;

}
#roll:active{
    background-color: gold;
    color:orange;
}
#rbox{
    width:275px;
    height: 130px;
    background-color: gray;
    border-radius: 5px;
    border-top-left-radius: 15px;
    position:relative;
}
#diespan{
    width: 70px;
    height:70px;
    border: solid gray;
    border-width: 7px;
    border-radius: 15px;
    background-color: gainsboro;
    transition: transform 1s;
    color:gold;
    font-size: 45px;
    transform: scale(.1);

}
#die{
    /*height: 7px;
    width: 7px;
    background-color: gainsboro;
    border: solid gray;
    border-radius: 1px;*/
    position:absolute;
    top:105px;
    left:10px;
    /*transform:rotate(45deg);*/
    transition: 
        left 750ms cubic-bezier(.34,1.34,.2,1.34), top .95s cubic-bezier(1,0,.53,2.9), transform 3s;
    color:honeydew;
    font-size: xx-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

    
